{% load static %}

<footer class="footer footer-padding">
    <div class="content has-text-centered flex-center">
    <figure class="image" id="footer-logo">
        <img src="{% static 'img/django-brew-logo-text.png' %}" alt="Django Brew">
    </figure>
    <div class="mt-3 is-size-6">
        <p>
            All content &copy; <script>document.write(new Date().getFullYear());</script> Django Brew
        </p>
        <p>
            Made with ❤️ and ☕️ 
        </p>
    </div>
    </div>
</footer>
