<style>
    @media screen and (max-width: 768px) {
        #breadcrumbs {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
</style>

<nav class="breadcrumb has-succeeds-separator is-medium" id="breadcrumbs" aria-label="breadcrumbs">
    <ul>
    {% for breadcrumb in breadcrumbs %}
        {% if forloop.last %}
            <li><span style="padding: 0 15px;">{{ breadcrumb.name }}</span></li>
        {% else %}
            <li><a href="{% url breadcrumb.url_pattern %}">{{ breadcrumb.name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>
