{% extends 'ep02/_base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style>
/* hide crispyforms asterisk class */
.asterisk {
    display: none;
}
</style>

<div class="content">
    <h1 class="has-text-centered-mobile title">django-crispy-forms example 🍟</h1>

    <div class="notification is-success is-light">
        This example renders the same model form example in <strong>three</strong>,
        one of which uses <a href="https://github.com/django-crispy-forms/django-crispy-forms" target="_blank">django-crispy-forms</a>!
        <br>
        <br>
        <strong>Hints:</strong>
        <ul>
            <li>Enter <code>bad</code> in any text field or <code>100</code> in the age field to trigger a <strong>field error</strong></li>
            <li>Enter <code>spongebob</code> as the nickname, and <i>omit</i> the word <code>sponge</code> in the bio to trigger a <strong>non-field error</strong>!</li>
        </ul>
    </div>

    {% if form.errors %}
    <h3>Rendering <code>form.errors</code></h3>
    <div class="message is-danger">
        <div class="message-body">
            {{ form.errors }}
        </div>
    </div>
    {% endif %}


    <h3>Rendered <code>as_p()</code></h3>
    <form action="{% url 'ep02:crispyforms1' %}" method="post" class="box">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>


    <h3>Rendered with crispy forms
    <form action="{% url 'ep02:crispyforms1' %}" method="post" class="box">
        {% csrf_token %}
        <!-- {{ form|crispy }} -->
        {% crispy form %}
    </form>


    <h3>Rendered manually</h3>
    <form action="{% url 'ep02:crispyforms1' %}" method="post" class="box">
        {% csrf_token %}
        
        <div class="field">
            <label class="label">Favorite color</label>
            <div class="control">
                <input class="input {% if form.favorite_color.errors or form.non_field_errors %}is-danger{% endif %}" type="text" name="favorite_color" placeholder="magenta" required {% if form.errors %}value="{{ form.favorite_color.value }}"{% endif %}>
            </div>

            {% for error in form.favorite_color.errors %}
                <p class="help is-danger">
                    {{ error }}
                </p>
            {% endfor %}
        </div>
        
        <div class="field">
            <label class="label">Age</label>
            <div class="control">
                <input class="input {% if form.age.errors or form.non_field_errors %}is-danger{% endif %}" type="number" min=1 max=100 required name="age" placeholder="100" required {% if form.errors %}value="{{ form.age.value }}"{% endif %}>
            </div>

            {% for error in form.age.errors %}
                <p class="help is-danger">
                    {{ error }}
                </p>
            {% endfor %}
        </div>

        <div class="field">
            <label class="label">Nickname</label>
            <div class="control">
                <input class="input {% if form.nickname.errors or form.non_field_errors %}is-danger{% endif %}" type="text" required name="nickname" placeholder="Foobar" required {% if form.errors %}value="{{ form.nickname.value }}"{% endif %}>
            </div>

            {% for error in form.nickname.errors %}
                <p class="help is-danger">
                    {{ error }}
                </p>
            {% endfor %}
        </div>

        <div class="field">
            <label class="label">Bio</label>
            <div class="control">
                <textarea class="textarea {% if form.bio.errors or form.non_field_errors %}is-danger{% endif %}" type="text" required name="bio" placeholder="Hello world" required>{% if form.errors %}{{ form.bio.value }}{% endif %}</textarea>
            </div>

            {% for error in form.bio.errors %}
                <p class="help is-danger">
                    {{ error }}
                </p>
            {% endfor %}
        </div>

        <input class="button" type="submit" value="Submit">
    </form>

</div>
{% endblock %}