{% extends 'ep02/_base.html' %}

{% block content %}
<div class="content">
    <h1 class="has-text-centered-mobile title">Model form example 🙋</h1>

    <div class="notification is-success is-light">
        This example renders the same model form example in <strong>two</strong> ways! 
        <br>
        <br>
        <strong>Hints:</strong>
        <ul>
            <li>Enter <code>bad</code> in any field to trigger a <strong>field error</strong></li>
            <li>Enter <code>spongebob</code> as the first name, <code>squarepants</code> as the last name, and anything <i>but</i> <code>fry cook</code> as the job to trigger a <strong>non-field error</strong>!</li>
        </ul>
    </div>

    {% if form.errors %}
    <h3>Rendering <code>form.errors</code></h3>
    <div class="message is-danger">
        <div class="message-body">
            {{ form.errors }}
        </div>
    </div>
    {% endif %}

    <h3>Rendered <code>as_p()</code></h3>
    <form action="{% url 'ep02:modelform1' %}" method="post" class="box">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>

    <h3>Rendered manually</h3>
    <form action="{% url 'ep02:modelform1' %}" method="post" class="box">
        {% csrf_token %}
        
        <div class="field">
            <label class="label">First Name</label>
            <div class="control">
                <input class="input {% if form.first_name.errors or form.non_field_errors %}is-danger{% endif %}" type="text" name="first_name" placeholder="Spongebob" required {% if form.errors %}value="{{ form.first_name.value }}"{% endif %}>
            </div>
            {% for error in form.first_name.errors %}
                <p class="help is-danger">
                    {{ error }}
                </p>
            {% endfor %}
        </div>

        <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
                <input class="input {% if form.last_name.errors or form.non_field_errors %}is-danger{% endif %}" type="text" name="last_name" placeholder="Squarepants" required {% if form.errors %}value="{{ form.last_name.value }}"{% endif %}>
            </div>
            {% for error in form.last_name.errors %}
                <p class="help is-danger">
                    {{ error }}
                </p>
            {% endfor %}
        </div>

        <div class="field">
            <label class="label">Job</label>
            <div class="control">
                <input class="input {% if form.job.errors or form.non_field_errors %}is-danger{% endif %}" type="text" name="job" placeholder="fry cook" required {% if form.errors %}value="{{ form.job.value }}"{% endif %}>
            </div>
            {% for error in form.job.errors %}
                <p class="help is-danger">
                    {{ error }}
                </p>
            {% endfor %}
        </div>
        
        <input class="button" type="submit" value="Submit">
    </form>
</div>
{% endblock %}